@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>
    @ViewBag.Garden.Name
</h1>
<br />
<h5>Localisation:</h5>
<input type="hidden" id="gardenAddress" data-myValue="@ViewBag.GardenAddress"/>
<div id="googleMap" style="height:400px;width:100%">
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqEb7hWAd3ua-qa_0ulHHeQFgCpYA6AEQ&callback=initMap"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">
    var address = $("#gardenAddress").data("myValue");
    console.log(address);
    var geocoder = new google.maps.Geocoder();

    var myOptions = {
        zoom: 19,
        mapTypeId: google.maps.MapTypeId.SATELLITE
    };
    map = new google.maps.Map(document.getElementById("googleMap"), myOptions);

    geocoder.geocode({ 'address': address }, function initMap(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });

    }
    else {
        alert("Geocode was not successful for the following reason: " + status);
    }

});
</script>
<br />
<h5>Description :</h5>
<p>
    @ViewBag.Garden.Description
</p>

<h5>Fire / BBQ:</h5>
<p>
    @ViewBag.Garden.Fire
</p>

<h5>Shelter:</h5>
<p>
    @ViewBag.Garden.Shelter
</p>

<h5>Owner informations:</h5>
<h6>Last name :</h6>
<p>
    @ViewBag.Garden.Owner.LastName
</p>
<h6>Name:</h6>
<p>
    @ViewBag.Garden.Owner.Name
</p>
<h6>Email :</h6>
<p>
    @ViewBag.Garden.Owner.Email
</p>
